@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.navbar-1-3.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;

}

.navbar-1-3 .bg-purple .navbar-nav .nav-link.active {
    color: #ffdda9;
    font-weight: 500;
}

.navbar-1-3 .bg-purple {
    background-color: #391484;
    transition: 0.3s;
}

.navbar-1-3 .btn-login {
    border-radius: 20px;
    padding: 12px 30px;
    font-weight: 500;
}

.navbar-1-3 .btn-login-accent {
    background-color: #5eced1;
    color: #ffffff;
    transition: 0.3s;
}

.navbar-1-3 .btn-login-accent:hover {
    background-color: #2b92bf;
    color: #ffffff;
    transition: 0.3s;
}

.navbar-1-3 .btn-register {
    border-radius: 20px;
    padding: 12px 30px;
    font-weight: 500;
}

.navbar-1-3 .btn-fill {
    background-color: #5eced1;
    color: #ffffff;
    transition: 0.3s;
}

.navbar-1-3 .btn-fill:hover {
    background-color: #2b92bf;
    color: #ffffff;
    transition: 0.3s;
}

.nav-tabs .nav-link.active {
    background-color: #2b92bf;

    border: 3px solid #2b92bf;
}

.nav-tabs .nav-link {
    background-color: #fff;
    color: #2b92bf;
    border: 3px solid #2b92bf;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
    /* border: 3px solid #2b92bf; */
}

.nav-tabs {
    border-bottom: 1px solid #2b92bf;
}

.tab-content {
    border: 1px solid #2b92bf;
    padding: 20px;
}

.container.profile {
    padding-bottom: 2rem;
}

section.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #004aad;
}

.img-hero {
    position: absolute;
    right: 0;
    padding-right: 7rem;
}

.hero .btn-get-started {
    background-color: #5eced1;
    padding: 1rem;
    margin-bottom: 120px;
    border-radius: 20px;
}

.text-hero {
    width: 50%;
    padding-left: 10rem;
    padding-top: 5rem;
}

.underline-title {
    background: -webkit-linear-gradient(right, #5ECED1, #2B92BF);
    height: 2px;
    margin: 1rem 0 1rem 1rem;
    width: 89px;
}

.label-profile {
    margin-bottom: 1rem;
}

h1.heading-text {
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
}

h1.heading-text2 {
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
}

h1.accent-text {
    font-size: 64px;
    font-weight: 900;
    color: #5eced1;
}

h1.title-profile {
    margin-top: 24px;
}

.p-text {
    font-size: medium;
    color: #5eced1;
    padding-bottom: 3rem;
}

section.lost-card {
    width: 100%;
    padding-bottom: 50px;
}

.card-title {
    /* padding-top: 220px; */
    color: #004aad;
    font-size: 24px;
    font-weight: 900;
}

.card-category-age {
    color: #004aad;
    font-size: 16px;
    font-weight: 700;
}

.card-distance {
    color: #004aad;
    font-weight: bold;
    font-size: 12pt;
}

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #e26d5c;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #e26d5c;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

h1.title {
    padding-bottom: 24px;
}

section.Information-adopt {
    /* background-color: #004aad; */
    width: 100%;
    padding: 30px;
}

.title-information {
    padding: 24px;
    /* color: #ffffff; */
}

.btn-learn-more {
    border-radius: 20px;
    padding: 12px 30px;
    font-weight: 500;
    color: #ffffff;
    background-color: #004aad;
    border-color: #ffffff;
    margin: 32px;
}

section.tips-card {
    /* background-color: #004aad; */
    padding-top: 32px;
}

section.footer {
    background-color: #004aad;
    padding: 50px;
}

.card-profile {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    height: 400;
    width: 100%;
    margin: 4rem auto 8.1rem auto;
    padding: 4rem auto 8.1rem auto;


}

section.footer-profile {
    background-color: #004aad;
    margin-top: 50px;
    padding: 50px;
}

input[type=text],
[type=password],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin: 8px 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.btn .btn-primary {
    background-color: #004aad;
    color: #fff;
    margin: 2rem;
}

#map {
    margin: 1rem 0;
    position: center;
    top: 0;
    bottom: 0;
    width: 100%;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(226, 12, 12);
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
#loc {
    height: 50px;
    padding: 8px;
}